body {
    font-family: 'Mulish', sans-serif;
    background: rgb(60,162,255);
    background: linear-gradient(31deg, rgba(60,162,255,1) 38%, rgba(86,231,112,1) 100%);
    height: 100vh;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: aliceblue;
    font-size: 60px;
    font-weight: 100;
    text-shadow: 2px 2px #0249a5;
}

.form {
    background-color: aliceblue;
    padding: 40px;
    margin: 20px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#results {
    color: rgba(255, 255, 255, 0);
}
