body {
    font-family: 'Mulish', sans-serif;
    background: rgb(60,162,255);
    background: linear-gradient(31deg, rgba(60,162,255,1) 38%, rgba(86,231,112,1) 100%) fixed;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-layout {
    display: flex;
}

.hero-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    margin-right: 30px;
}

h1 {
    color: aliceblue;
    font-size: 60px;
    font-weight: 100;
    text-shadow: 2px 2px #0249a5;
    margin: 0px;
}

.form {
    background-color: aliceblue;
    padding: 40px;
    margin: 20px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px #0249a5;
    text-align: center;
}

.form input[type=number] {
    font-size: 16px;
    padding: 5px;
}

label {
    display: block;
    margin: 10px;
    padding: 0px;
}

#results {
    color: rgba(255, 255, 255, 0);
    font-size: 25px;
    padding: 20px 60px;
}

span {
    font-weight: 500;
}

h3 {
    font-weight: 100;
}

#calculate {
    width: 100%;
    padding: 10px;
    background-color: #0249a5;
    border: none;
    color: aliceblue;
    font-family: inherit;
    font-size: 20px;
    margin-top: 10px;
}